* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
$crvena_boja : #A62120;

//dodati hovere na dugmice
//proveriti alt-ove na svim slikama
//kod malih slika staviti media da kada se postave da bude u jednom redu 3 da se promeni width slika na 50% i onda ce uvek bili ili 2 ili 4 slike.
body {
    background-color: rgba(0, 0, 0, 0.94);
}

.container {
    width: 1320px;
    margin: 0 auto;
}


.btn {
    border-radius: 40px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    height: 47px;
    width: 174px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.btn_red {
    color: #fff;
    background-color: $crvena_boja;
    border: 1px solid #FFF;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
    &:hover {
        color: $crvena_boja;
        border: 1px solid #252525;
        background-color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
    }  
}

.btn_white {
    color: #252525;
    background-color: #fff;
    border: 1px solid #F00;
    transition: color 0.3s, border 0.3s, background-color 0.3s;
    &:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #252525;
        font-size: 1.1rem;
        font-weight: 700;
    }  
}

.centriran_logo {
    //nakon dodavanja hr-a klase .hr dodati sliku i staviti joj klasu .centriran-logo da bi se on postavio na sred hr-a
    position: relative;
    bottom: 36px
}

.centriraj {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr {
    border-bottom: 1px solid gray;
}

#header {
    width: 100%;
    height: 90px;
    background-color: #B50014;
    .container {
        display: flex;
        justify-content: space-between;
        img {
            z-index: 5;
            width: max-content;
            height: max-content;
        }
        ul {
            margin-top: 37px;
            height: 16px;
            display: flex;
            align-items: center;
            list-style-type: none;
    
            li {
                margin: 2.5rem 0 2rem 2.5rem;
                transition: transform 0.3s;
                &:hover {
                    transform: translateY(-10px);
                }
                a {
                text-decoration: none;
                list-style: none;
                }
                
            }
        }
    }
}

#time-div {
    width: 100%;
    padding: 0.375rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .container {
        display: flex;
        justify-content: end;
        span {
            font-size: 14px;
        }
    }
}

#slider-div {
    height: 62.87vh;
    background-image: url('../images/imageforslider.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    #slider-txt-div {
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        left: 18px;
        top: calc(50% - 174px); //centriranje diva horizontalno na sredinu slider-diva.
        width: 629px;
        height: 348px;


        h1 {
            font-size: 2.375rem;
            font-weight: 700;
            padding-bottom: 1rem;
        }

        #slider-txt-container {
            margin: 67px 65px 42px 300px;
        }

        p {
            font-weight: 300;
            line-height: 150%;
        }
    }
}

#food-div-first {
    width: 100%;
    display: flex;
    justify-content: start;
    .container {
        padding: 80px 110px;
        display: flex;
        #first-food-txt-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            h1 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 131.25%;
            }
    
            h2 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 2.5625rem;
            }
    
            p {
                font-weight: 300;
                line-height: 150%;
                margin-bottom: 10px;
                padding-right: 50px;
            }
            &>div {
                margin-top: 50px;
                .btn_red {
                    margin: 8px;
                }
            }

        }
        #first-food-img {
            width: 50%;
            display: flex;
            flex: 1;
            #first-food-img-container {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                &>img {
                    max-width: 100%;
                    height: auto;
                }
                &>#first-food-imgs {
                    max-width: 100%;
                    height: auto;
                    display: flex;
                    &>img {
                        flex: 1;
                        max-width: 35%;
                        height: auto;
                        margin: 10px 10px 0 0;
                    }
                }
            }
        }
    }
} 

#food-div-second {
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
        display: flex;

        #second-txt-container {
            width: 50%;
            max-width: 50%;
            background-color: $crvena_boja;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #second-txt {
                h1 {
                    font-weight: 700;
                    line-height: 42px;
                }
                ul li {
                    font-weight: 300;
                    line-height: 1.5;
                    margin-top: 10px;
                }
                a {
                    margin-top: 20px;
                }
            }
        }

        img {
            max-height: 100%;
            max-width: 50%;
            object-fit: cover;
        }
    }
}

#food-div-third {
    min-height: min-content;
    width: 100%;
    padding-bottom: 20px;
    
    #third-food-container {
        display: flex;
        flex-direction: column;
        
        padding: 0 80px;
        height: 100%;

        #third-food-txt {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: 20px;
            position: relative;
            h1{
                text-align: center;
                margin: 100px 0 10px 0;
                font-weight: 700;
            }
            h2 {
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 50px;
            }
            p {
                padding-top: 5px;
                width: 52%;
                text-align: center;
                font-weight: 300;
                line-height: 1.5;
            }
            hr {
                width: calc(100% - 20px);
                margin-top: 50px;
            }
            .btn {
                margin: 30px 0;
            }        
    
        }
        #third-food-imgs {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            img {
                margin: 10px;
                flex: 1;
                max-width: 40%;
            }
        }
    }

}

#food-div-fourth {
    width: 100%;
    display: flex;
    background-color: #B50014;
    height: 100%;

    
    #fourth-food-img {
        width: 50%;
        img {
            max-width: 100%;
            height: 100%;
        }
    }

    #fourth-food-txt {
        width: 50%;
        background-color: $crvena_boja;
        h1 {
            font-weight: 700;
            line-height: 42px;
        }
        h2 {
            font-weight: 700;
            font-size: 22px;
            line-height: 20px;
            margin: 10px 0;
        }
        p {
            line-height: 1.5;
            font-weight: 300;
            padding-top: 5px;
        }
    }
}

#food-div-fifth {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/foodimg7.png");
    background-attachment: fixed;
    background-position: center 70%;
    background-repeat: no-repeat;
    .btn {
        margin: 20px;
    }
}

#food-div-sixth {
    display: flex;
    justify-content: center;
    .container {
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        #sixth-food-first {
            width: 100%;

            #genussnetz-div {
                display: flex;
                width: 100%;
                margin: 70px 0;

                #genussnetz-logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                }
                #genussnetz-txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    width: 50%;

                    a {
                        margin-top: 50px;
                    }
                }
            }
        }
        #sixth-food-second {
            width: 100%;

            #auszeichnungen-div {
                display: flex;
                width: 100%;
                margin: 70px 0;

                #auszeichnungen-content {
                    display: flex;
                    width: 100%;
                    #auszeichnungen-txt {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                    }
                    #auszeichnungen-imgs {
                        display: flex;
                        width: 70%;
                        >div {
                            width: 25%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-weight: 300;
                            color: rgba(255, 255, 255, 0.51);
                            line-height: 18.75px;
                            text-align: center;
                            >div {
                                width: 122px;
                                height: 122px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                    
                }
            }
        }
        #sixth-food-third {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            >span {
                margin: 0 0 20px 0;
            }

            #lower-slider-div {
                margin: 50px 0;
                height: 300px;
                width: 100%;
                background-color: burlywood;
            }

            .btn {
                margin-bottom: 30px;
            }
        }
    }
}

#footer {
    width: 100%;

    #lighter-footer {
        background-color: #B50014;
        width: 100%;
        padding: 10px 0;
        .container {
            display: flex;
            justify-content: space-between;
            position: relative;

            #footer-address {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #footer-links {
                display: flex;
                align-items: center;
                img {
                    margin: 2px;
                }
            }
            #footer-logo {
                position: absolute;
                left: calc(50% - 36px);
            }
            
        }
    }

    #darker-footer {
        width: 100%;
        background-color: #66000B;
        .container {
            display: flex;
            justify-content: space-between;

            #copyright span{
                font-size: 12px;
                line-height: 28px;
            }

            #author span{
                line-height: 28px;
                color: rgba(255, 255, 255, 0.5);
                a {
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.78);
                } 
            }
        }
    }
}

@media screen and (max-width: 1399.99px) {
    .container {
        width: 1140px;
    }
    #header {
        font-size: 15px;

        ul li {
            margin: 2.5rem 0 2rem 1.6rem !important;
        }
    }
    #third-food-imgs img{
        min-width: 45%;
    }

}
@media screen and (max-width: 1199.9px) {
    .container {
        width: 960px;
    }
    #header {
        font-size: 13px;

        ul li {
            margin: 2.5rem 0 2rem 1.1rem !important;
        }
    }
    #food-div-first {
        .container{
            padding: 40px 55px !important;
            
            #first-food-txt-container>div {
                margin-top: 20px !important;
            }
        }
                    
    }
}
@media screen and (max-width: 991.9px) {
    .container {
        width: 720px;
    }
}
@media screen and (max-width: 767.9px) {
    .container {
        width: 540px;
    }
    #third-food-imgs img{
        min-width: 40%;
    }
}
@media screen and (max-width: 575.9px) {
    .container {
        width: 100%;
    }
}